### Java ###
*.class
*.log
*.war
*.ear
*.jar

# Diretórios comuns
target/
bin/
out/
build/

### IntelliJ IDEA ###
.idea/
*.iml
*.iws

# Exceções para não ignorar o código
!src/main/**
!src/test/**

### Eclipse ###
.apt_generated/
.classpath
.project
.settings/

### NetBeans ###
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

### VS Code ###
.vscode/

### Sistema Operacional ###
# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*~

### Maven ###
.mvn/
**/target/

### Gradle ###
.gradle/
build/

# Logs
*.log

# Arquivos temporários
*.tmp
*.swp
